## Introduction to structured programming with Fortran

### Why to learn Fortran ?

* Because of the execution speed of a program
* Well suited for numerical computations : more than **45% of scientific applications** are in Fortran

### Getting started

#### Hello World

In [ ]:
program hello_world

  implicit none ! important

  print *, "Hello World!"

end program hello_world

#### Data Type Declarations and Assignments

In [ ]:
program data_type

  implicit none
  
  real x, y
  integer i, j
  logical flag
  
  integer matrix(2,2) 
  character(80) month
  character(len=80) months(12)
  
  character family*16
  
  real, dimension(12) :: small_array
  character(len=80), dimension(24) :: screen
  
  integer, parameter :: it = 100
  
  i = 1
  j = i+2
  x = 85.8
  y = 3.5*cos(x)

  month="december"
  
  months(:)="empty"
  
  months(12)=month
  
  flag = .TRUE.
  
  family = "GEORGE P. BURDELL"
  print*,family(:6)
  print*,family(8:9)
  print*,family(11:)
  print*,family(:6)//FAMILY(10:)
  
end

#### Arithmetic Assignments

The result of any integer divide is truncated to the integer value less than the correct decimal answer for the division. The result of this is that changing the order of operations can make a big difference in the answers.  Notice how parentheses force more expected results.

In [ ]:
program arith

  implicit none
  
  real r2,r3,r4,r5,r6,ans1,ans2,ans3
  integer i2,i3,i4,i5,i6,ians1,ians2,ians3,ians4
  
  data r2/2./,r3/3./,r4/4.0/,r5/5.0/
  data i2,i3,i4,i5/2,3,4,5/
  
  ians1=i2*i3/i5
  ians2=i3/i5*i2
  ians3=i2*(i3/i5)
  ians4=(i3/i5)*i2
  print *, '2*3/5 =', ians1, ', 3/5*2 =',ians2,', 2*(3/5) =',ians3 ,', (3/5)*2 =',ians4
  
end program arith

Real arithmetic behaves more uniformly:

In [ ]:
program arith

  implicit none
  
  real r2,r3,r4,r5,r6,ans1,ans2,ans3
  integer i2,i3,i4,i5,i6,ians1,ians2,ians3,ians4
  
  data r2/2./,r3/3./,r4/4.0/,r5/5.0/
  data i2,i3,i4,i5/2,3,4,5/
  
  ans1=r2*r3/r5
  ans2=r3/r5*r2
  ans3=(r3/r5)*r2
  print *, '2.0*3.0/5.0 =', ans1, ', 3.0/5.0*2.0 =',ans2,', (3.0/5.0)*2.0 =',ans3
      
end program arith

Watch how precedence of operations effects the following:

In [ ]:
program arith

  implicit none
  
  real r2,r3,r4,r5,r6,ans1,ans2,ans3
  integer i2,i3,i4,i5,i6,ians1,ians2,ians3,ians4
  
  data r2/2./,r3/3./,r4/4.0/,r5/5.0/
  data i2,i3,i4,i5/2,3,4,5/

  ians1=i2+i5*i3**i2
  ians2=i5*i3**i2+i2
  ians3=i3**i2*i5+i2
  print *, '2+5*3**2 =',ians1,', 5*3**2+2 =',ians2, ', 3**2*5+2 =',ians3
      
end program arith

You can mix real and integers, but watch what happens

In [ ]:
program arith

  implicit none
  
  real r2,r3,r4,r5,r6,ans1,ans2,ans3
  integer i2,i3,i4,i5,i6,ians1,ians2,ians3,ians4
  
  data r2/2./,r3/3./,r4/4.0/,r5/5.0/
  data i2,i3,i4,i5/2,3,4,5/

  ans1=r5+i3/i2
  ans2=5.0+3/2
  print *, '5.0+3/2 =',ans1
  print *, '5.0+3/2 =',ans2
      
end program arith

Look at what happens when I put a real in either the numerator or denominator of the division term

In [ ]:
program arith

  implicit none
  
  real r2,r3,r4,r5,r6,ans1,ans2,ans3
  integer i2,i3,i4,i5,i6,ians1,ians2,ians3,ians4
  
  data r2/2./,r3/3./,r4/4.0/,r5/5.0/
  data i2,i3,i4,i5/2,3,4,5/

  ans1=r5+i3/r2
  ans2=r5+r3/i2
  print *, '5.0+3/2.0 =',ans1, ', 5.0+3.0/2 =', ans2
      
end program arith

Although Fortran normally works from left to right at a given level of precedence (does all multiply and divide from left to right before moving on to adds and subtracts). It works exponentiation from right to left when it hits 2 or more sequential exponentiation operations

In [ ]:
program arith

  implicit none
  
  real r2,r3,r4,r5,r6,ans1,ans2,ans3
  integer i2,i3,i4,i5,i6,ians1,ians2,ians3,ians4
  
  data r2/2./,r3/3./,r4/4.0/,r5/5.0/
  data i2,i3,i4,i5/2,3,4,5/

  ians1= i5**i3**i2
  ians2= (i5**i3)**i2
  ians3= i5**(i3**i2)
  print *, '5**3**2 =',ians1, ', (5**3)**2 =',ians2,  ', 5**(3**2) =',ians3
      
end program arith

When in doubt use parentheses to get the answer that you really want.

#### Assignments exercise

In [ ]:
program sphere  

  implicit none
      
      real pi,radius,volume,area  
          
      radius = 1.0
      pi = 0.0
      
      write(*,*) 'The value of pi is ', pi
      write(*,*) 

      area = 0.0
      volume = 0.0
      
      write(*,*) 'For a radius ', radius 
      write(*,*) 'the area of a sphere is ', area
      write(*,*) 'and the volume is ', volume
      
end

#### Execution Control

In [ ]:
PROGRAM gcd
  ! Computes the greatest common divisor, Euclidean algorithm
  IMPLICIT NONE
  INTEGER :: m, n, t
  WRITE(*,*) "Give positive integers m and n :"
  m=5464
  n=484682
  WRITE(*,*) 'm:', m,' n:', n
  positive_check: IF (m > 0 .AND. n > 0) THEN
    main_algorithm: DO WHILE (n /= 0)
      t = MOD(m,n)
      m = n
      n = t
    END DO main_algorithm
    WRITE(*,*) "Greatest common divisor: ",m
  ELSE
    WRITE(*,*) 'Negative value entered'
  END IF positive_check
END PROGRAM gcd

#### File-Directed Input and Output

In [ ]:
program plot

  ! Program to provide plots of Sin(x)

  implicit none
  character label*150
  real x
  integer i
  character xlabel*32,ylabel*32,title*32
  real fx
  !
  ! label   -   Character string 
  ! xlabel  -   Contains a label for the x-axis
  ! ylabel  -   Contains a label for the y-axis
  ! title   -   Contains a title for the plot
  !
  ! Drive a separate true graphics program (gnuplot)
  !
  ! First set up the command file for gnuplot
  !
  xlabel="'x'"
  ylabel="'y'"
  title="'sin(x)'"
  open (112,file='03_gnuxy')
  !
  label='set xlabel '//xlabel
  write(112,*)label
  write(112,*)'set xrange [0:6]'
  label='set ylabel '//ylabel
  write(112,*)label
  write(112,*)'set yrange [-1.2:1.2]'
  label='plot "03_dataxy" using 1:2 title '//title
  label=trim(label)//' with lines lt rgb "red"'
  write(112,*) label
  write (112,*) 'pause -1'
  close(112)
  !
  !   Generate x-y pairs for the graph
  !
  open (112,file='03_dataxy')
  do i=0,60
    x=.1*i
    fx=sin(x)
    write(112,*) x,fx
  enddo
  close(112)
  !
end program

This code is going to create 2 files: "03_dataxy" and "03_gnuxy".

The idea is to use a linux plotting tool called "GNUplot" to make a graph: the first file is the data for the graph, the second one is the gnuplot script using these data.

```bash
gnuplot 03_gnuxy
```

<img src="../assets/sin.png">